* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-container {
  font-size: 0;
}

.first-card-container,
.second-card-container,
.third-card-container {
  display: inline-block;
  position: relative;
  width: 30%;
  margin: 20px;
  border-radius: 5%;
  overflow: hidden;
}

.first-card-container {
  background: linear-gradient(
    90deg,
    rgba(254, 192, 152, 1) 23%,
    rgba(254, 130, 152, 1) 76%
  );
}

.second-card-container {
  background: linear-gradient(
    90deg,
    rgba(139, 200, 245, 1) 23%,
    rgba(13, 141, 223, 1) 76%
  );
}

.third-card-container {
  background: linear-gradient(
    90deg,
    rgba(126, 217, 210, 1) 23%,
    rgba(0, 207, 183, 1) 76%
  );
}

.card-text {
  font-size: 25px;
  color: white;
  margin: 10%;
}

.card-num {
  font-size: 40px;
  font-weight: 800;
  margin: 10% 0;
}

.card-img {
  position: absolute;
  z-index: 1;
  top: 15%;
  right: 10%;
}

.first-card-container::after,
.first-card-container::before,
.second-card-container::after,
.second-card-container::before,
.third-card-container::after,
.third-card-container::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 70%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  z-index: 0;
}

.first-card-container::after,
.second-card-container::after,
.third-card-container::after {
  top: 50%;
  left: 65%;
}

.first-card-container::before,
.second-card-container::before,
.third-card-container::before {
  top: 0;
  left: 75%;
}