* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cards-container {
  font-size: 0;
}

.card {
  display: inline-block;
  position: relative;
  min-width: 300px;
  max-width: 450px;
  width: 100%;
  margin: 20px;
  border-radius: 5%;
  overflow: hidden;
}

.pink-card:nth-child(3n+1) {
  background: linear-gradient(
    90deg,
    rgba(254, 192, 152, 1) 23%,
    rgba(254, 130, 152, 1) 76%
  );
}

.blue-card:nth-child(3n+2) {
  background: linear-gradient(
    90deg,
    rgba(139, 200, 245, 1) 23%,
    rgba(13, 141, 223, 1) 76%
  );
}

.green-card:nth-child(3n+3) {
  background: linear-gradient(
    90deg,
    rgba(126, 217, 210, 1) 23%,
    rgba(0, 207, 183, 1) 76%
  );
}

.card-text {
  font-size: 25px;
  color: white;
  margin: 10%;
}

.card-num {
  font-size: 40px;
  font-weight: bold;
  margin: 10% 0;
}

.card-img {
  position: absolute;
  z-index: 1;
  top: 15%;
  right: 10%;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 70%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  z-index: 0;
}

.card::after {
  top: 50%;
  left: 65%;
}

.card::before {
  top: 0;
  left: 75%;
}
